{% extends "master.html" %}
{% load staticfiles %}

{% block head_title %}{{dashboard.site_name}} - Subscribe!{% endblock %}

{% block extraheader %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}"></script>
{% endblock %}

{% block content %}

    <h2>Boo!</h2>

    <p>Either that e-mail doesn't exist or that verification code doesn't exist,
    and either way we can't let you do the thing that you're trying to do.</p>

    <p>If you're getting this message in error, please, PLEASE e-mail me at
    curtis@lassam.net to let me know about it. </p>

{% endblock %}
