{% extends "base.html" %}

{% block title %}Threepanel Login{% endblock %}
{% block body %}
<h2>Login</h2>
<form>
    <div class="row">
        <div class="small-8">
            <div class="row">
                <div class="small-3 columns">
                    <label for="username" class="right inline">Username</label>
                </div>
                <div class="small-9 columns">
                    <input type="text" id="username" placeholder="us3r_name">
                </div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="password" class="right inline">Password</label>
                </div>
                <div class="small-9 columns">
                    <input type="password" id="password">
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <input type="submit" id="login" class="button" value="login">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

