<!DOCTYPE html>
{# Load the tag library #}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{% load bootstrap3 %}
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{dashboard.elevator_pitch}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{dashboard.title}} - {% block head_title %}Threepanel{% endblock %}</title>
    {# Load CSS and JavaScript #}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <!--
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    -->
    {% block extraheader %}{% endblock %}
  </head>
  <body>
  <div class='container'>
    {% if not hide_nav %}
        <div class='header'>
            <nav class='navbar navbar-default' role="navigation">
                <div class='container-fluid'>
                    <div class='navbar-header header-lg hidden-xs hidden-sm'>
                        <a class='navbar-brand one' href="{% url 'comics.views.home' %}">
                            {{dashboard.title}}
                        </a>
                        <a class='navbar-brand two' href="/">
                            <small>{{dashboard.tagline}}</small>
                        </a>
                    </div>
                    <div class='navbar-header header-sm hidden-md hidden-lg'>
                        <a class='navbar-brand one' href="index.html">
                            {{dashboard.title}} <small>{{dashboard.tagline}}</small>
                        </a>
                    </div>
                    <ul class='nav navbar-nav navbar-right'>
                        <li class='btn btn-warning btn-block'><a href="{% url 'publish.views.subscribe' %}">
                            <span class='glyphicon glyphicon-bullhorn'></span>
                        Subscribe</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    {% endif %}

    {% if preview %}
        <nav class='navbar navbar-inverse' role="navigation">
            <div class='container-fluid'>
                <div class='navbar-header'>
                    <a class='btn btn-primary navbar-btn' href="{% url 'comics.views.manage' %}"> I'm Done Previewing </a>
                </div>
            </div>
        </nav>

    {% endif %}

    {% block content_wrapper %}
        <h1>{% block title %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    {% endblock %}

    {% if not hide_nav %}
    <div class='footer navbar navbar-inverse navbar-bottom'>
        <div class='row'>
        <div class='col-md-3'>
        </div>
        <div class='col-md-3'>
        </div>
        <div class='col-md-6 copyright'>
            <p>&copy; <a href='{{dashboard.author_website}}'>{{dashboard.author_name}}</a> 2012-{{year}}</p>
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                    <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
                </a>
            </p>
            <p>
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">Cube Drone</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://cube-drone.com" property="cc:attributionName" rel="cc:attributionURL">Curtis Lassam</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
            </p>
            <p>Of course the source code is available for this comics engine, <a href="https://github.com/classam/threepanel">Threepanel</a>.</p>
        </div>
        </div>
    </div>
    {% endif %}
  </div>

{% if dashboard.google_tracking_code %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{dashboard.google_tracking_code}}']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    /**
    * Function that tracks a click on an outbound link in Google Analytics.
    * This function takes a valid URL string as an argument, and uses that URL string
    * as the event label.
    */
    var trackOutboundLink = function(url) {
           ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
                function () { document.location = url; }
            });
    };
</script>
{% endif %}
  </body>
</html>
