{% extends "master.html" %}

{% block head_title %}Manage Comics{% endblock %}
{% block title %}Manage Comics{% endblock %}

{% block content %}

<a href="{% url 'comics.views.create' %}">Create</a>

<h2>Backlog</h2>
<ul>
{% for comic in backlog %}
    {% include "comics/module_manage_comic.html" with comic=comic %}
{% endfor %}
</ul>

<h2>Hero</h2>
<ul>
    {% include "comics/module_manage_comic.html" with comic=hero %}
</ul>

<h2>Archives</h2>
<ul>
{% for comic in archives %}
    {% include "comics/module_manage_comic.html" with comic=hero %}
{% endfor %}
</ul>


{% endblock %}
