
<li class='list-group-item {% if comic.hidden %}disabled{% endif %} row'>
    <div class='col-sm-8'>
        <h4><a href='{% url 'comics.views.preview' comic_slug=comic.slug %}'>{{comic.title}}</a>
            - <small>{{comic.posted}}</small></h4>
        <ul class='list-group'>
        {% for blog in comic.blog_posts %}
            <li class='list-group-item'>
            <h5>{{blog.title}}</h5>
            <form class='btn-group btn-group-sm' action="{% url 'comics.views.delete_blog' comic_slug=comic.slug slug=blog.slug %}" method='POST'>
                {% csrf_token %}
                <input class='btn btn-default' type='submit' value="Delete"></input>
                <a class='btn btn-default' href="{% url 'comics.views.update_blog' comic_slug=comic.slug slug=blog.slug %}">Update</a>
            </form>
            </li>
        {% endfor %}
            <a class='list-group-item' href="{% url 'comics.views.create_blog' comic_slug=comic.slug %}">Create Blog Post</a>
        </ul>
    </div>
    <form class='col-sm-4 btn-group btn-group-sm' action="{% url 'comics.views.delete' comic_slug=comic.slug %}" method='POST'>
        {% csrf_token %}
        <input class='btn btn-default' type='submit' value="Delete"></input>
        <a class='btn btn-default' href="{% url 'comics.views.update' comic_slug=comic.slug %}">Update</a>
    </form>
</li>
