{% extends "master.html" %}
{% load staticfiles %}

{% block head_title %}{{dashboard.site_name}} - {{comic.title}}{% endblock %}

{% block extraheader %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}"></script>
{% endblock %}

{% block content %}
<nav>
    <ul class="pager">
        {% if comic.previous %}
            <li><a href="{% url 'comics.views.single_by_numerical_order' n=comic.first %}">
                <span class='glyphicon glyphicon-backward'></span> <span class='hidden-xs hidden-sm'>First</span></a></li>
            <li><a href="{% url 'comics.views.single_by_numerical_order' n=comic.previous %}">
                <span class='glyphicon glyphicon-chevron-left'></span> <span class='hidden-xs hidden-sm'>Previous</span></a></li>
        {% else %}
            <li class='disabled'><a href="#">
                <span class='glyphicon glyphicon-backward'></span> <span class='hidden-xs hidden-sm'>First</span></a></li>
            <li class='disabled'><a href="#">
                <span class='glyphicon glyphicon-chevron-left'></span> <span class='hidden-xs hidden-sm'>Previous</span></a></li>
        {% endif %}

        <li><a href="{% url 'comics.views.archives' %}"><span class='glyphicon glyphicon-search'></span> <span class='hidden-xs hidden-sm'>Archives</span></a></li>

        {% if not comic.is_hero %}
            <li><a href="{% url 'comics.views.single_by_numerical_order' n=comic.next %}">
                <span class='glyphicon glyphicon-chevron-right'></span> <span class='hidden-xs hidden-sm'>Next</span></a></li>
            <li><a href="{% url 'comics.views.single_by_numerical_order' n=comic.last %}">
                <span class='glyphicon glyphicon-forward'></span> <span class='hidden-xs hidden-sm'>Last</span></a></li>
        {% else %}
            <li class='disabled'><a href="#">
                <span class='glyphicon glyphicon-chevron-right'></span> <span class='hidden-xs hidden-sm'>Next</span></a></li>
            <li class='disabled'><a href="#">
                <span class='glyphicon glyphicon-forward'></span> <span class='hidden-xs hidden-sm'>Last</span></a></li>
        {% endif %}
    </ul>
</nav>

<div class='comic thumbnail'>
    <img class='comic img-responsive' src='{{comic.image_url}}' alt='{{comic.alt_text}}' title='{{comic.secret_text}}' />
    <div class='caption'>
        <div class='row'>
            <div class='col-sm-2 hidden-xs hidden-sm'><div class='order bg-primary'>{{comic.order}}</div></div>
            <div class='col-sm-10'>
                <h2 class='comic_title'>{{comic.title}} - <small>{{comic.posted}}</small></h2>
                <p class='secret_text'><em>{{comic.secret_text}}</em> &mdash;
                    {% for tag in comic.tags %}
                        {% if active_tag == tag %}
                            <strong><span class='glyphicon glyphicon-tag'></span> {{tag}}</strong>
                        {% else %}
                            <em><a href='{% url 'comics.views.tag' slug=tag %}'>
                                <span class='glyphicon glyphicon-tag'></span> {{tag}}</a></em>
                        {% endif %}
                    {% endfor %}
                </p>
                <p class='url'><strong>Share Url:</strong> {{permalink}} </p>
                <p class='share'>
                    <a href="http://twitter.com/share?url={{comic.absolute_url}}&text={{comic.promo_text|urlencode}}">Share on Twitter</a>
                    &mdash;
                    <a href="http://www.facebook.com/sharer.php?u={{comic.absolute_url}}&t={{comic.title}}">Share on Facebutts</a>
                </p>
            </div>
        </div>
    </div>
    <!-- TWITTER CARD -->
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:site" content="@classam" />
    <meta name="twitter:title" content="{{comic.title}}" />
    <meta name="twitter:image" content="{{comic.image_url}}" />
    <meta name="twitter:url" content="{{comic.absolute_url}}" />
</div>

<div class='row'>
</div>

<div class='row'>
    <div class='col-md-6 col-lg-8'>
    {% for image in comic.images %}
            <div class='well well-sm'>
                <h2 name="{{image.title}}">{{image.title}}</h2>
                <div class='content'>
                    <img class='img-responsive' src='{{image.image_url}}' alt='{{image.alt_text}}' title='{{image.secret_text}}' />
                </div>
            </div>
    {% endfor %}
    {% for blog in comic.blog_posts %}
            <div class='well well-sm'>
                <h2 name="{{blog.title}}">{{blog.title}}</h2>
                <div class='content'>
                {{blog.markdown_rendered|safe}}
                </div>
            </div>
    {% endfor %}
    {% for video in comic.videos %}
            <div class='well well-sm'>
                <h2 name="{{video.title}}">{{video.title}}</h2>
                <div class='content'>
                <iframe class='embed' src="https://www.youtube.com/embed/{{video.youtube_video_code}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
    {% endfor %}
    {% if dice == 1 %}
        <div class='well well-sm'>
            <!-- Amazon Affiliate -->
            <h2>Have you read this book?</h2>
            <p>When I started working at the job that I was working at when I started writing Cube Drone,
                my team's project lead handed me a copy of <a href="http://amzn.to/14Zfyuj">Clean Code</a> by <strong>Robert C. Martin</strong>.</p>
            <a href="http://amzn.to/14Zfyuj"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0132350882&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=cubdro-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=cubdro-20&l=as2&o=1&a=0132350882" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <p>It's a book about code smells, and what to do about them. I highly recommend it!</p>
        </div>
    {% endif %}
    {% if dice == 2 %}
        <div class='well well-sm'>
            <!-- Amazon Affiliate -->
            <h2>Have you read this book?</h2>
            <p>Okay, so, one of my favourite fiction novels is <a href="http://amzn.to/1xYtKiE">The Atrocity Archives</a>.</p>
            <a href="http://amzn.to/1xYtKiE"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0441016685&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=cubdro-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=cubdro-20&l=as2&o=1&a=0441016685" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <p> It's a spy novel, but not "James Bond" spying - really more it is about software,
                bureaucracy, and what terrifying things we might summon by accidentally proving
                that p!=np. </p>
            <p> I love the whole series. </p>
        </div>
    {% endif %}
    {% if dice == 3 %}
        <div class='well well-sm'>
            <!-- Amazon Affiliate -->
            <h2>Have you read this book?</h2>
            <p><a href="http://amzn.to/1wXVpwc">Peopleware: Productive Products &amp; Teams</a>
                is a modern project-management classic, up there with <a href="http://amzn.to/1fyfRBS">The Mythical Man-Month</a>. </p>
            <a href="http://amzn.to/1wXVpwc"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0321934113&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=cubdro-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=cubdro-20&l=as2&o=1&a=0321934113" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <p>The premise? Most of your software problems are not so much software problems as they are people problems.</p>
            <p>It is about helping people be productive and getting problems out of their way so that they can kick ass.</p>
            <p>What sort of problems? Things that kill productivity and passion, like <em>overtime</em>, <em>noise</em>,
                <em>shooting for a poor-quality product</em>, that sort of thing. </p>

        </div>
    {% endif %}
    {% if dice == 4 %}
        <div class='well well-sm'>
            <!-- Amazon Affiliate -->
            <h2>Android, Where?</h2>
            <p>I've been going on about <a href='http://cube-drone.com/comics/archives/wearables'>wearables</a> a lot, lately. </p>
            <p>As much as I rip on the flashy new watches that don't do much except put notifications on your wrist, vibrate
                periodically, run out of battery life in one day, and offer all of the rest of the functionality of a
                Casio watch circa 1988, I totally bought an <a href='http://www.amazon.com/gp/product/B00W3E5FYW/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00W3E5FYW&linkCode=as2&tag=cubdro-20&linkId=AL4RIG56JQBTQ2TY'>LG Urbane</a> and I would totally recommend it
                to anybody insane enough to want to try out an Android Wear device. </p>
            <a href="http://www.amazon.com/gp/product/B00W3E5FYW/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00W3E5FYW&linkCode=as2&tag=cubdro-20&linkId=MF6QGNOGUKOC4MXZ"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00W3E5FYW&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=cubdro-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=cubdro-20&l=as2&o=1&a=B00W3E5FYW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <p> I mean, I get tweets on my <em>wrist</em>. How cool is that? </p>
            <p> Plus, it's classy as heck. </p>
        </div>
    {% endif %}
    {% if dice == 5 %}
        <div class='well well-sm'>
            <!-- Amazon Affiliate -->
            <h2>Android: Netrunner</h2>
            <p>Okay, do you love board games? I love board games.</p>
            <p>Lately, I've been playing a lot of <a href='http://www.amazon.com/gp/product/1616614609/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1616614609&linkCode=as2&tag=cubdro-20&linkId=ZK2Y3LWSVPXNEDMW'>Android: Netrunner</a>,
                because it combines the complexity of Magic: The Gathering with a sweet Cyberpunk theme and doesn't cost
                nearly as much to play. </p>
            <a href="http://www.amazon.com/gp/product/1616614609/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1616614609&linkCode=as2&tag=cubdro-20&linkId=37P25LC7X3QVTI75"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1616614609&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=cubdro-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=cubdro-20&l=as2&o=1&a=1616614609" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <p>It's an asymmetrical two-player deckbuilding game, and I think you might like it!</p>
        </div>
    {% endif %}
    {% if dice == 6 %}
        <div class='well well-sm'>
            <!-- Google Ad -->
            <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6640687113189982" data-ad-slot="9119781951" data-ad-format="auto"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
    {% endif %}
    </div>

    <div class='col-sm-6 col-md-5 col-lg-4'>
        <h2><a href="{% url 'pages.views.page' slug='meet-the-team' %}" class='btn btn-primary'>
                <img src="http://curtis.lassam.net/comics/cube_drone/misc_assets/meet.png" alt="Meet the Cast!"/>
            </a>
        </h2>
    </div>
    <div class='col-sm-6 col-md-5 col-lg-4'>
        <h2><a class='btn btn-primary' href='{% url 'publish.views.subscribe' %}'>
                <img src="http://curtis.lassam.net/comics/cube_drone/misc_assets/subscribe.png" alt="Subscribe!"/>
            </a>
        </h2>
    </div>
    <div class='col-sm-6 col-md-5 col-lg-4'>
        <h2><a class='btn btn-primary' href='{% url 'comics.views.blog' %}'>
                <img src="http://curtis.lassam.net/comics/cube_drone/misc_assets/blog.png" alt="Blog!"/>
            </a>
        </h2>
    </div>
    {% if dashboard.youtube_channel %}
    <div class='col-sm-6 col-md-5 col-lg-4'>
        <h2><a class='btn btn-primary' href='{{ dashboard.youtube_channel }}'>
                <img src="http://curtis.lassam.net/comics/cube_drone/misc_assets/video.png" alt="Video!"/>
            </a>
        </h2>
    </div>
    {% endif %}
    {% if dashboard.patreon_page %}
    <div class='col-sm-6 col-md-5 col-lg-4'>
        <h2><a class='btn btn-primary' href='{{ dashboard.patreon_page }}'>
                <img src="http://curtis.lassam.net/comics/cube_drone/misc_assets/donate.png" alt="Donate"/>
            </a>
        </h2>
    </div>
    {% endif %}
</div>

{% endblock %}
