{% extends "management.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block head_title %}Update Comic{% endblock %}
{% block title %}Update Comic{% endblock %}
{% block extraheader %}
    <script src="{% static 'js/smalot_datepicker_apr_1_2015.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/smalot_datepicker_apr_1_2015.css' %}"></script>
{% endblock %}

{% block content %}

<img style='width:700px' class='comic img-responsive' src='{{comic.image_url}}' alt='{{comic.alt_text}}' title='{{comic.secret_text}}' />

<form action="{% url 'comics.views.update' comic_slug=slug site_slug=site_slug%}" method='POST'>
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form %}
    <input type='submit' value="Update Comic"></input>
</form>

{% endblock %}
