{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block title %}Threepanel{% endblock %}
{% block body %}
<h1>Threepanel</h1>

{% if user.is_authenticated %}
    <a href="#">{{user.username}}</a>
    <a href="{% url 'dashboard.views.logout_view' %}">Logout</a>
{% else %}
    <a href="#" data-reveal-id="login_modal">Login or Register</a>
{% endif %}

<div id="login_modal" class="reveal-modal" data-reveal>
    <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#login">Login</a></li>
        <li class="tab-title"><a href="#register">Register</a></li>
        <li class="tab-title"><a href="#panic">Panic</a></li>
    </ul>
    <div class="tabs-content">
        <div id="login" class="content active">
            {% include "dashboard/login__module.html" %}
        </div>
        <div class="content" id="register">
            {% include "dashboard/register__module.html" %}
        </div>
        <div id="panic" class="content">
            <h2>Panic!</h2>
            <ul>
                <li><a href="#">I've lost my password!</a></li>
                <li><a href="#">Contact Support</a></li>
            </ul>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>

{% endblock %}

{% block javascript %}
    <script src="{% url 'dashboard.views.users_bloom' %}"></script>
    <script src="{% static "js/register.js" %}" type="text/javascript"> </script>
{% endblock %}
