{% extends "management.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block actions %}
<h3>Actions</h3>
<div class='list-group' role='group'>
    <a class='list-group-item' href="{% url 'dashboard.views.site_options' site_slug=site_slug %}">Site Options</a>
    <a class='list-group-item' href="{% url 'dashboard.views.twitter_integration' site_slug=site_slug %}">Twitter Integration</a>
</div>
{% endblock %}

{% block content %}

<form action="{% url 'dashboard.views.twitter_integration' site_slug=site_slug%}" method='POST'>
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form %}
    <input type='submit' value="Update Twitter Integration"></input>
</form>

{% endblock %}
