{% extends "management.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block head_title %}Manage Images{% endblock %}
{% block title %}Manage Images{% endblock %}

{% block extraheader %}
    <script src="{% static 'images/js/dropzone.js' %}"></script>
    <link rel="stylesheet" href="{% static 'images/css/dropzone.css' %}"></script>

    <style>
    .big-image-link{
        padding: 8px;
        border: 1px dashed #333;
    }
    </style>

{% endblock %}

{% block actions %}
<h3>Actions</h3>
<div class='list-group' role='group'>
    <a class='list-group-item' href="{% url 'images.views.create' %}">Upload Image Form</a>
    {% if count > 10 %}
    <a class='list-group-item' href="{% url 'images.views.archives' %}">Image Archives</a>
    {% endif %}
</div>
{% endblock %}

{% block content %}


<ul class='list-group'>
<li class='list-group-item row'>
    <form id="uploady" action="{% url 'images.views.create_js' %}" class='dropzone' method='POST' enctype="multipart/form-data">
        {% csrf_token %}
    </form>
</li>
{% for image in images %}
    {% include "images/module_image.html" with image=image %}
{% endfor %}
{% if count > 10 %}
    <a class='btn btn-default center-block' href="{% url 'images.views.archives' %}">Load More...</a>
{% endif %}
</ul>

<script>
Dropzone.options.uploady = {
  init: function() {
    console.log("starting up the dropzone");
    this.on("success", function(file, server_response) {
        console.log(file);
        console.log(server_response);
        var link = "{{dashboard.site_url}}/i/"+server_response;
        $(file.previewTemplate).append("<h2 class='big-image-link'>"+link+"</h2>");
     });
  },
};
</script>

{% endblock %}
