{% extends "base.html" %}
{% load staticfiles %}
{% block base_javascript %}
    <script type="application/javascript">
        var USERNAME = "{{user.username}}";
    </script>
    <script src="{% static "js/md5.js" %}"></script> 
    <script src="{% url 'streams.views.accounts_bloom' %}"></script>
    <script src="{% static "js/lib/handlebars-1.1.2.js" %}" type="text/javascript">
    </script>
    <!-- For development, no minification, mmm-kay? -->
    <script src="{% static "js/lib/ember-1.6.1.js" %}" type="text/javascript">
    </script>
    <script src="{% static "js/lib/ember-data.js" %}" type="text/javascript">
    </script>

    <script src="{% static "js/ember/tastypie_adapter.js" %}"></script>
    <script src="{% static "js/ember/tastypie_serializer.js" %}"></script> 
    <script src="{% static "js/ember/application.js" %}"></script>
    <script src="{% static "js/ember/components.js" %}"></script>
    <script src="{% static "js/ember/models.js" %}"></script>
    <script src="{% static "js/ember/router.js" %}"></script>

    {% include "streams/template_components.html" %}
    {% include "streams/template_application.html" %}
    {% include "streams/template_accounts.html" %}

{% endblock %}
{% block body %}

{% endblock %}
