{% verbatim %}

    <script type="text/x-handlebars" data-template-name="application">
        
        <!-- Nav Bar --> 
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1>{{#link-to 'index'}}Threepanel{{/link-to}}</h1>
            </li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="active"><a href="#">Right Button Active</a></li>
              <li class="has-dropdown">
                <a href="#">{{username}}</a>
                <ul class="dropdown">
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Logout</a></li>
                </ul>
              </li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
              <li class="has-dropdown">
                <a href="#">Account: {{currently_selected}}</a> 
                  <ul class="dropdown">
                    {{#each accounts}}
                      <li>{{#link-to 'account' id}}{{title}}{{/link-to}}</li>
                    {{/each}}
                    <li>{{#link-to 'accounts.new'}}+ New Account{{/link-to}}</li>
                  </ul>
            </ul>
          </section>
        </nav>

        {{outlet}}

    </script>

{% endverbatim %}
