{% verbatim %}

    <script type="text/x-handlebars" data-template-name="accounts"> 
      <h2>Accounts</h2>

      {{outlet}}
        
    </script>

    <script type="text/x-handlebars" data-template-name="accounts/index">
        <h3>Accounts/Index</h3>
        <ul>
        {{#each}}
            <li>{{#link-to 'account' id}}{{title}}{{/link-to}}</li>
        {{/each}}
        </ul>
    </script>
    
    <script type="text/x-handlebars" data-template-name="accounts/new">
        <h3>Accounts/New</h3>
    </script>

    <script type="text/x-handlebars" data-template-name="account"> 
      <h2>Title: {{title}}</h2>
      <p>Slug: {{slug}}</p>

      {{alerts-component alerts=alerts}}

        <form>
            {{input type="text" value=title }}
            {{input type="text" value=slug }}
            {{#if slugChanged}}
                {{#if slugValid}}
                    <span class="postfix available">
                        <i class='fa fa-check'></i> Available!
                    </span>
                {{else}}
                    <span class="postfix unavailable">
                        <i class='fa fa-warning'></i> Unavailable
                    </span>
                {{/if}}
            {{else}}
                <span class="postfix available">
                    <i class='fa fa-circle-o-notch'></i> Unchanged
                </span>
            {{/if}}
            {{#if isDirty}}
            <button id="cancel_account" class="secondary" {{action "rollbackAccount"}}>
                Cancel
            </button>
            <button id="edit_account" {{action "saveAccount"}}>
                Save {{title}}
            </button>
            {{/if}}
        </form>

      <ul>
      {{#each stream in streams}}
      <li>{{stream.title}}</li>
      {{/each}}
      <li>+ New Stream</li>
      </ul>
    </script>

{% endverbatim %}

