{% verbatim %}

    <script type="text/x-handlebars" data-template-name="accounts"> 
      <h2>Accounts</h2>

      {{outlet}}
        
    </script>

    <script type="text/x-handlebars" data-template-name="accounts/index">
        <h3>Accounts/Index</h3>
        <ul>
        {{#each}}
            <li>{{#link-to 'account' id}}{{title}}{{/link-to}}</li>
        {{/each}}
        </ul>
    </script>
    
    <script type="text/x-handlebars" data-template-name="accounts/new">
        <h3>Accounts/New</h3>
    </script>

    <script type="text/x-handlebars" data-template-name="account"> 
        <div class='row'>
            <h2>Title: {{title}}</h2>
            <p>View: {{viewUrl}}</p>
        </div>

        <div class='row'>
            {{x-alerts action="clearAlerts" alerts=alerts}}
        </div>

        <form>
            <div class='row'>
            {{x-text-field value=title label="Title"}}
            </div>
            {{x-validate-field value=slug 
                label="Slug" 
                name="AccountSlug"
                changed=slugChanged 
                valid=slugValid 
                validmessage="Available" 
                invalidmessage="Unavailable"}}  
            {{#if canEdit}}
            <div class='row'>
                <button id="cancel_account" class="secondary" {{action "rollbackAccount"}}>
                    Cancel
                </button>
                <button id="edit_account" {{action "saveAccount"}}>
                    Save {{title}}
                </button>
            </div>
            {{/if}}
        </form>

        <div class="row">
            <ul>
            {{#each stream in streams}}
            <li>{{stream.title}}</li>
            {{/each}}
            <li>+ New Stream</li>
            </ul>
        </div>
    </script>

{% endverbatim %}

